@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
	height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@layer base {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.select {
	@apply bg-white min-w-[80px] px-3 py-2 border mx-2;
}

.panel {
	@apply bg-white shadow-md rounded-md p-4;
}

.loader {
	@apply bg-gray-200 dark:bg-gray-600;
}

.button {
	@apply px-3 py-2 rounded-md shadow-md outline-none;
}

.table {
	@apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
}

.table-head {
	@apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
}

.table-row {
	@apply bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600;
}
